@model MuseuAMSG3.Models.Home.HomeModels


    <main class="main">
        <section class="main-section">
            <h1 class="main-h1">Territórios em disputa</h1>
            <img class="imgg" src="~/image/ft.png" alt="">
            <h3 class="main-h3">Mapa das Capitanias Hereditárias 1534 - 1536</h3>
        </section>

        <section class="main-section">
            <h2 class="main-h2">PROFISSÕES NO MUSEU: ENGENHEIRO CARTÓGRAFO</h2>
            <p class="main-p">O engenheiro cartógrafo é um profissional que elabora mapas com instrumentos de medição, cálculos e registros. Esse ofício estava presente nas cortes europeias que colonizaram as Américas, para o desenho e posse das novas terras, mediante a divulgação de mapas em que eram apresentadas como portuguesas, castelhanas ou de outras nações. Até hoje, alguns engenheiros da cartografia estudam e produzem mapas, como o curador da exposição Jorge Pimentel Cintra. Suas pesquisas propõem um novo mapa para as capitanias hereditárias. Cintra traçou as linhas segundo as cartas originais de doação emitidas pelo rei português D. João III aos donatários das capitanias, assim como outros profissionais haviam feito antes, mas sem estudar em profundidade os originais nem estudar outros mapas da época. Assim, sua proposta é diferente do desenho que se popularizou nos livros didáticos durante o século 20. Ele leu os originais das cartas de doação e propôs um desenho com linhas nas posições definidas nesses documentos. Além disso, consultou mapas e documentos antigos, e dispôs de novas tecnologias como programas de cartografia digital para realizar medições sobre os mapas antigos. O desenho do novo mapa é inovador porque propõe, em consonância com as cartas de doação originais, que as divisas das capitanias do norte do território devem ser traçadas com linhas verticais, e não horizontais. Além disso, ainda de acordo com os documentos originais, constatou e desenhou as capitanias do sul com linhas correndo para noroeste. A atuação de um engenheiro em um museu de história possibilita uma construção de conhecimento que alia ciências exatas e humanas.</p>
        </section>
    </main>
