@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MuseuAMSG3</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<h1 class="h1">Museu do Ipiranga: Seja bem vindo!</h1>
<br/>
<img class="imgInicio" src="~/image/img01.jpg">
<br/>

<!-- Formataçao do cometário sobre o Museu Ipiranga-->
    <div class="divp">
    <p class="divDescricao">
        O Museu do Ipiranga, ou Museu Paulista, é um ícone histórico em São Paulo, localizado no bairro do Ipiranga.
            Com um acervo impressionante de mais de 125.000 itens, ele conta a rica história do Brasil desde o século XVII 
            até o século XX. Além de suas exposições permanentes, o museu oferece mostras temporárias que mergulham em diversos 
            aspectos da cultura e história brasileira, tornando cada visita uma experiência única e enriquecedora.
        </p>
    </div>
<br>
    <div>
        <h2>Conheça nossas exposiçoes:</h2>
    </div>

<!-- Formataçao das exposições do museu-->
<div class="cards">

    <div class="card">
    <img  class="divImage" src="image/imagem01.jpeg"
        <p class="descricao">Territórios em disputa</p>
    </div>

    <div class="card">
        <img class="divImage" src="image/imagem03.jpeg"
        <p>Uma História do Brasil</p>
    </div>

    <div class="card">
        <img class="divImage" src="image/imagem02.jpeg"
        <p>Mundos do trabalho</p>

    </div>
    <div class="divEndereco">
        <p>Endereço: Rua dos Patriotas, 100 - Ipiranga - São Paulo/SP  CEP 04207-030</p>
    </div>
</div>